* {
    font-family: mononoki Nerd Font;
    font-size: 14px;
    border-radius: 9px; 
}

window#waybar {
    background: transparent;
}

#workspaces{
    margin: 12px 0px 0px 0px;
    border-radius: 9px; 
    color: #fffafa;
    background-color: #262626;
}
#workspaces button {
    padding: 0px 12px;
    background: transparent;
    color: #fffafa;
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
}
#workspaces button.active {
    border-radius: 9px; 
    background: #d4ac77;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray {
    margin: 12px 0px 0px 0px;
    border-radius: 9px; 
    padding: 0 0.8em;
    color: #fffafa;
    background-color: #262626;
}

